
.awl a {
    color: #FFFFFF;
    text-decoration: none;
}

.abml a {
    color: #000000;
    font-family: Roboto-Medium,Helvetica,Arial,sans-serif;
    font-weight: bold;
    text-decoration: none;
}

.adgl a {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
}

.afal a {
    color: #b0b0b0;
    text-decoration: none;
}

@media screen and (min-width: 600px) {
    .v2sp {
        padding: 6px 30px 0px;
    }

    .v2rsp {
        padding: 0px 10px;
    }
}



